
@media (max-width: 1112px)
	.oneLine
		flex-direction: column
		align-items: flex-end
	.main
		height: 970px
		background: url(../img/bg/main_bg.jpg) 36% 0%/cover no-repeat
	nav
		width: 100%
	.container-navbar
		flex-direction: column
		align-items: flex-end
	.main-parts
		width: 100%
	.main-search
		width: 223px
		margin: 2.1rem 1.4rem 0 0
	.main__title 
		padding-top: 5rem
	.main__subtitle 
		font-size: 1.8rem
		padding-bottom: 2.667rem
	.container
		padding: 3.866667rem 2.6667rem 5.3333rem 2.6667rem

//-------------------------------------------------------------------------------------------------------------

@media (max-width: 858px)
	.container
		padding: 2.6667rem
	.main
		height: 860px
		background: url(../img/bg/main_bg.jpg) 10% 0%/cover no-repeat
	.main-promo
		display: flex
		flex-direction: column
		align-items: center
	.main-parts__item
		font-size: 0.93rem
	.main-search__textarea
		font-size: 1rem
	.main__subtitle
		text-align: center
		font-size: 1.6rem

//-------------------------------------------------------------------------------------------------------------

@media (max-width: 791px)
	.main-parts
		position: fixed
	.main__burger
		position: fixed
		width: 100%
		height: 60px
		top: 0
		left: 0
		z-index: 50
	.main__burger:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: #303030
	.main__title 
		font-size: 4.5rem

@media (max-width: 575px)